@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --zodiac: #0c2c43;
    --green: #d9e5c4;
    --como: #54816d;
    --asparagus: #80a470;
    --viridian: #3d6b63;
    --gossamer: #284f54;
    --manatee: #8c9ca4;
    --slate: #7c8c94;
    --dark: #38586c;
    --white : #FFFFFF;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--manatee);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    margin: 5px;
    width: 100%;
    position: relative;
    font-family: Montserrat;
    z-index: 1;
}
/*entete du site*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--zodiac);
    padding: 0 64px;
    height: 90px;
    z-index: 10;
}
header img {
    width: 90px;
    height: 90px;
}
header .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav li {
    list-style: none;
}
.nav li a {
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    display: block;
    padding: 30px;
    cursor: pointer;
}
.toggle-menu {
    display: flex;
    position: relative;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.toggle-menu::after,
.toggle-menu::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: var(--white);
    cursor: pointer;
}
.toggle-menu::after {
    top: 0px;
    box-shadow: 0 10px 0 var(--white);
}
.toggle-menu::before {
    top: 20px;
}
.toggle-menu {
    display: none;
}
/*heros*/
.heros {
    display: flex;
    background-color: var(--zodiac);
    height:90vh;
    padding: 100px 9em;
    z-index: 1;
    font-family: Montserrat;
    position: relative;
}
.heros::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url(../images/photos/3\ -\ Heros.webp);
    background-size: cover; 
    opacity: 50%;
    z-index: 2;
}
.heros .hero {
    z-index: 3;
    display: flex;
    flex-direction: column;
    color: var(--white);

}
.hero h1 {
    font-size: 45px;
    width: 22ch;
    margin-bottom: 1.5em;
}
.hero h1 span {
    color: var(--green);
}
.hero #slog div {
    font-size: 1.5em;
    display: flex;
    font-weight: 700;
    gap: 10PX;
    margin-bottom: 30px;
}
.hero button {
    margin-top: 1.5em;
    font-size: 1.7em;
    font-weight: 700;
    width: 280px;
    height: 70px;
    border-radius: 15px;
    background-color: var(--zodiac);
    border: none;
    color: var(--white);
    cursor: pointer;
}
/*services*/
.services {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 20px 80px;
    height: 105vh;
}
.services .title-serv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-serv img {
    width: 70px;
}
h2 {
    color: var(--asparagus);
    font-size: 40px;
    position: relative;
}
h2 span {
    color: var(--zodiac);
}
.services h2::after {
    content: "";
    position: absolute;
    width: 90px;
    height: 4px;
    background-color: var(--asparagus);
    left: 0;
    top: 1.4em;
}
.services .service {
    display: flex;
    flex-direction: row;
    gap: 65PX;
    margin-top: 30px;
}
.service .serv{
    display: flex;
    flex-direction: column;
    box-shadow: 3px 4px 16px 5px var(--asparagus);
    width: 20em;
    padding: 30px;
    gap: 40PX;
}
.serv img {
    width: 150px;
    border-radius: 50%;
    place-self: center;
}
.serv div {
    display: flex;
    flex-direction: column;
}
.serv div h3 {
    color: var(--dark);
    font-size: 20px;
    text-align: center;
    margin: 0;
    font-weight: 700;
}
.serv div p {
    font-size: 1.2em;
}
/*a propos de btp*/
.about {
    background-color: var(--green);
    display: flex;
    height: 120vh;
    align-items: center;
    justify-content: space-between;
}
.about img {
    position: absolute;
    width: 50%;
    height: 100vh;
    right: 0;

}
.about .about-contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--white);
    width: 35%;
    padding: 20px 60px;
}
.about-contain .title-abt {
    display: flex;
    position: relative;
    justify-content: flex-end;
    width: 100%;
}
.title-abt img {
    position: absolute;
    transform: rotate(-90deg);
    height: 40px;
    width: 100px;
    left: -2em;
    top: 1.3em;
}
.title-abt h2 {
    font-size: 35px;
}
.about-contain p{
    color: var(--slate);
    font-size: 1.3em;
    text-align: justify;
    font-weight: 500;
}
/*temoignages*/
.clients{
    display: flex;
    padding: 60px;
    height: auto;
    position: relative;
    gap: 50PX;
}
.clients .title-cli {
    display: flex;
    flex-direction: column;
    width: 38%;
}
.title-cli h2 {
    width: 15ch;
    margin-top: 60px;
}
.title-cli img {
    display: flex;
    height: 230px;
    position: absolute;
    top: 17em;
    left: 10em;
}
.clients .said{
    display: flex;
    flex-direction: column;
    gap: 3EM;
}
.said .client {
    display: flex; 
    flex-direction: row;
    align-items: center;
    position: relative;
    box-shadow: 0px 4px 4px 5px var(--asparagus);
    border-radius: 5px;
    gap: 30PX;
    padding: 15px 30px;
}
.client img {
    width: 140px;
    height: 130px;
    border-radius: 50%;
}
.client div {
    display: flex;
    flex-direction: column;
}
.client div img {
    height: 60px;
    position: absolute;
    bottom: -2em;
    right: -4.5em;
}
.client div h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}
.client div p {
    color: var(--dark);
    text-align: justify;
    width: 50ch;
    font-size: 13px;
}
/*temoignages*/
.contact {
    display: flex;
    flex-direction: column;
    background-color: var(--green);
    padding: 60px ;
    padding-bottom: 0;
}
.contact h2 {
    font-size: 35px;
    text-align: center;
}
.contact > p {
    color: var(--dark);
    text-align: center;
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 18px;
}
.contact iframe {
    width: 100%;
    height: 350px;
}
.contact .contact-direct {
    padding: 40px 0px;
    display: flex;
    flex-direction: row;
    gap: 8EM;
}
.contact-direct .ct-left {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: var(--viridian);
    color: var(--white);
    padding: 20px;
    font-size: 16px;
}
.ct-left p:nth-child(3) {
    font-weight: 700;
}
.contact-direct #formul {
    display: flex;
    flex-direction: column;
    color: var(--zodiac);
    gap: 18PX;
    width: 50%;
}
#formul h3 {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
}
#formul div {
    display: flex;
    flex-direction: column;
    gap: 5PX;
}
#formul div label {
    font-size: 15px;
    font-weight: 500;
}
#formul div textarea {
    border-radius: 5px;
    padding: 8px;
    font-size: 11px;
    border: none;
    box-shadow: 0px 2px 1px 0px var(--zodiac);
    height: 15vh;
    font-family: Montserrat;
}
#formul button {
    width: 25%;
    height: 5vh;
    border: 0;
    background-color: var(--zodiac);
    border-radius: 5px;
    color: var(--white);
    font-weight: 700;
    font-size: 18px;
    font-family: Montserrat;
    cursor: pointer;
}
#formul .top {
    display: flex;
    flex-direction: row;
    gap: 20PX;
    width: 100%;
}
.top  div {
    width: 50%;
}
.top div input {
    padding: 12px;
    font-family: Montserrat;
    font-size: 11px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 1px 0px var(--zodiac);
}

/*FOOTER*/
footer {
    background-color: var(--viridian);
    display: flex;
    flex-direction: column;
    color: var(--white);
    padding: 30px 60px;
}
footer .foot-top {
    display: flex;
    flex-direction: row;
    height: 45vh;
    margin-bottom: 3vh;
    justify-content: center;
    align-items: center;
}
.foot-top .foot1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 60px;
    border-right: 2px solid var(--asparagus);
    gap: 20PX;
}
.foot1 img {
    width: 100px;
}
.foot1 p{
    text-align: justify;
    width: 30ch;
    font-size: 14px;
}
.foot-top .foot2 {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
    padding: 0px 70px;
    border-right: 2px solid var(--asparagus);
    row-gap: 30PX;
}
.foot2 .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    font-size: 14px;
    width: 100%;
}
.links a{
    text-decoration: none;
    color: var(--white);
    padding-bottom: 15px;
}
.foot2 .social {
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.social a img {
    width: 30px;
    filter: invert(1) ;
}
.foot-top .foot3 {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 30%;
    padding: 30px 0px 0px 60px;
    justify-content: center;
    gap: 30PX;
}
.foot3 h3 {
    font-size: 20px;
    font-weight: normal;
}
.foot3 div{
    display: flex;
}
.foot3 div input {
    padding: 12px;
    font-family: Montserrat;
    font-size: 11px;
    border: none;
    width: 80%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.foot3 div button {
    padding: 12px;
    width: 120px;
    font-size: 13px;
    font-weight: 800;
    border: none;
    color: var(--white);
    background-color: var(--zodiac);
    font-family: Montserrat;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
} 
footer .foot-bottom {
    display: flex;
    flex-direction: column;
}
.foot-bottom p {
    font-size: 13px;
}
.foot-bottom p::after{
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    background-color: var(--white);
    height: 2px;
    margin: 40px 0px;
}
.foot-bottom .last {
    display: grid;grid-template-columns: repeat(4, 1fr);
    padding-top: 40px;
}
.last a {
    text-decoration: none;
    color: var(--white);
    font-size: 13px;
    height: 20px;
}
.last a:not(:last-of-type) {
    border-right: 1px solid var(--white);
}
.last a:last-of-type {
    text-align: end;
}
.last a:nth-child(2),.last a:nth-child(3)  {
    text-align: center;
    padding: 0px 90px;
}
/*RESPONSIVITE*/
@media (max-width:500px) {
    .container {
        z-index: 5;
        margin: 0;
    }
    header {
        padding: 0 20px;
        height: 60px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    header img {
        width: 60px;
        height: 60px;
    }
    header .nav {
        display: none;
    }
    .toggle-menu {
        display: flex;
    }
    .toggle-menu.active::before{
        transform: translateY(0) rotate(-135deg);
        top: 10px;
    }
    .toggle-menu.active::after {
        transform: translateY(0) rotate(135deg);
        box-shadow: 0 0 0 var(--white);
        top: 10px;
    }
    header .nav.responsive {
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--zodiac);
        height: 60vh;
        right: 0;
        width: 40%;
        padding: 0 20px;
        margin: 30px 0;
    }
    header .nav.responsive li {
        width: 80%;
    }
    header .nav.responsive li a {
        border-top: 1px solid var(--asparagus);
        padding: 33px 0;
        font-size: 15px;
        text-align: center;
    }
    header .nav.responsive li a:hover {
        padding-left: 40px;
    }
    .heros {
        height: 80vh;
        padding: 2em 20px;
        justify-content: center;
        align-items: center;
    }
    .heros .hero {
        row-gap: 25PX;
    }
    .hero h1 {
        font-size: 26px;
        text-align: center;
        width: fit-content;
    }
    .hero h1 span{
        display: block;
        font-size: 32px;
    }
    .hero #slog div {
        font-size: 1.2em;
        display: flex;
        font-weight: 700;
        gap: 10PX;
        margin-bottom: 15px;
    }
    .hero #slog div img {
        width: 20px;
    }
    .hero button{
        font-size: 1.2em;
        font-family: Montserrat;
        align-self: center;
        width: 200px;
        height: 45px;
        border-radius: 10px;
        cursor: pointer;
    }
    /*SERVICES*/
    .services {
        padding: 20px;
        height: auto;
    }
    .title-serv img {
        width: 30px;
    }
    h2 {
        font-size: 23px;
    }
    .services h2::after {
        width: 50px;
    }
    .services .service {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 45PX;
        margin: 30px 0;
    }
    .service .serv {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px;
        box-shadow: 2px 2px 6px 1px var(--asparagus);
        width: auto;
        gap: 15px;
    }
    .serv img {
        width: 100px;
        border-radius: 50%;
        place-self: start;
    }
    .serv div h3 {
        font-size: 16px;
        text-align: start;
    }
    .serv div p {
        font-size: 12px;
    }
    /*a propos de btp*/
    .about {
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px 0;
    }
    .about img {
        position: static;
        width: 20em;
        height: 35vh;
        padding-top: 40px;
    }
    .about .about-contain {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--white);
        width: fit-content;
        padding: 10px 50px;
    }
    .about-contain .title-abt {
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .title-abt img {
        height: 40px;
        width: 50px;
        padding: 0;
    }
    .title-abt h2 {
        font-size: 23px;
    }
    .about-contain p{
        font-size: 14px;
        text-align: justify;
        margin-left: 10PX;
    }
    /*TEMOIGNAGES*/
    .clients{
        flex-direction: column;
        padding:20px;
        height: auto;
        gap: 20PX;
    }
    .title-cli h2 {
        font-size: 25px;
        width: max-content;
        margin: 0 0 10PX 0;
        
    }
    .title-cli img {
        height: 100px;
        position: static;
    }
    .clients .said {
        align-items: center;
        margin-bottom: 30px;
    }
    .said .client {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 15em;
        box-shadow: 0px 2px 4px 3px var(--asparagus);
        padding:10px 20px;
        gap: 13PX;
    }
    .client img {
        width: 100px;
        height: 100px;
    }
    .client div img {
        height: 45px;
        bottom: -1.5em;
        right: -3.2em;
    }
    .client div h3 {
        font-size: 17px;
    }
    .client div p {
        font-size: 14px;
        width: 25ch;
    }
     /*CONTACT*/
    .contact {
        padding: 20px;
        align-items: center;
        justify-content: center;
        gap: 20PX;
    }
    .contact h2 {
        font-size: 25px;
        margin: 0;
    }
    .contact > p {
        font-size: 14px;
        padding: 0;
        text-align: start;
    }
    .contact iframe {
        height: 40vh;
        width: 83%;
    }
    .contact .contact-direct {
        padding: 20px;
        flex-direction: column;
        align-items: center;
        gap: 3EM;
        width: 100%;
    }
    .contact-direct .ct-left{
        width: 73%;
        font-size: 14px;
        padding: 20px;
    }
    .contact-direct #formul{
        width: 83%;
    }
    #formul .top {
        flex-direction: column;
    }
    #formul button {
        font-size: 15px;
        height: 4vh;
        cursor: pointer;
    }
    .top  div {
        width: 100%;
    }
    /*FOOTER*/
    footer {
        padding: 20px;
    }
    footer .foot-top {
        flex-direction: column;
        height: auto;
        margin-bottom: 5vh;
        align-items: center;
        justify-content: center;
        padding: 10px 40px;
    }
    .foot-top .foot1 {
        padding: 0 0 20px 0;
        border: 0;
        width: 100%;
        border-bottom: 1px solid var(--asparagus);
        gap: 10PX;
    }
    .foot1 p{
        width: 35ch;
    }    
    .foot1 img {
        width: 65px;
    }
    .foot-top .foot2 {
        width: 100%;
        font-size: 18px;
        padding: 20PX 0;
        border: 0;
        border-bottom: 1px solid var(--asparagus);
        row-gap: 20PX;
    }
    .foot2 .links {
        width: 100%;
    }
    .foot-top .foot3 {
        width: 100%;
        padding: 20px 0;
        gap: 10PX;
        align-items: center;
    }
    .foot3 h3 {
        font-size: 18px;
        text-align: center;
    }
    .foot3 button {
        width: 100px;
        cursor: pointer;
    }
    footer .foot-bottom {
        padding: 20px;
    }
    .foot-bottom p::after {
        display: none;
    }
    .foot-bottom .last {
        padding: 0;
        grid-template-columns: repeat(2, 1fr);
    }
    .last a {
        margin-bottom: 20px;
        height: 13px ;
    }
    .last a:not(:last-of-type) {
        border: 0;
    }
    .last a:last-of-type {
        text-align: start;
    }
    .last a:nth-child(2),.last a:nth-child(3)  {
        text-align: start;
        padding: 0;
    }
    .last a:nth-child(odd){
        border-right: 2px solid var(--white);
    }
    .last a:nth-child(even){
        padding-left: 20px;
    }
}
@media (500px < width <= 900px) {
    .container {
        z-index: 5;
        margin: 0;
    }
    header {
        padding: 0 50px;
        height: 80px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    header img {
        width: 80px;
        height: 80px;
    }
    header .nav {
        display: none;
    }
    .toggle-menu {
        display: flex;
    }
    .toggle-menu.active::before{
        transform: translateY(0) rotate(135deg);
        box-shadow: 0 0 0 var(--asparagus);
    }
    .toggle-menu.active::after {
        transform: translateY(0) rotate(-135deg);
        box-shadow: 0 0 0 var(--asparagus);
    }
    header .nav.responsive {
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--zodiac);
        height: 60vh;
        right: 0;
        width: 40%;
        padding: 0 20px;
        margin: 30px 0;
    }
    header .nav.responsive li a {
        border-top: 1px solid var(--asparagus);
        padding: 40px 0;
        font-size: 15px;
    }
    header .nav.responsive li a:hover {
        padding-left: 40px;
    }
    .heros {
        height: 80vh;
        padding: 2em 50px;
        justify-content: center;
        align-items: center;
    }
    .heros .hero {
        row-gap: 25PX;
    }
    .hero h1 {
        font-size: 28px;
        text-align: center;
        width: fit-content;
    }
    .hero h1 span{
        font-size: 33px;
    }
    .hero #slog div {
        font-size: 1.2em;
        display: flex;
        font-weight: 700;
        gap: 10PX;
        margin-bottom: 15px;
    }
    .hero #slog div img {
        width: 20px;
    }
    .hero button{
        font-size: 1.2em;
        font-family: Montserrat;
        align-self: center;
        width: 200px;
        height: 45px;
        border-radius: 10px;
    }
    /*SERVICES*/
    .services {
        padding: 20px 50px;
        height: auto;
    }
    .title-serv img {
        width: 50px;
    }
    h2 {
        font-size: 27px;
    }
    .services h2::after {
        width: 60px;
    }
    .services .service {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 45PX;
        margin: 30px 0;
    }
    .service .serv {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px;
        box-shadow: 2px 2px 6px 1px var(--asparagus);
        width: auto;
        gap: 15px;
    }
    .serv img {
        width: 120px;
        border-radius: 50%;
        place-self: start;
    }
    .serv div h3 {
        font-size: 16px;
        text-align: start;
    }
    .serv div p {
        font-size: 12px;
    }
    /*a propos de btp*/
    .about {
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px;
    }
    .about img {
        position: static;
        width: 100%;
        height: 55vh;
        padding-top: 40px;
    }
    .about .about-contain {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--white);
        width: auto;
        padding: 10px 50px;
    }
    .about-contain .title-abt {
        align-items: center;
        justify-content: start;
        width: 100%;
    }
    .title-abt img {
        height: 40px;
        width: 50px;
        padding: 0;
    }
    .title-abt h2 {
        font-size: 23px;
        text-align: center;
    }
    .about-contain p{
        font-size: 14px;
        text-align: justify;
        margin-left: 10PX;
    }
    /*TEMOIGNAGES*/
    .clients{
        flex-direction: column;
        padding:20px 50px;
        height: auto;
        gap: 20PX;
    }
    .clients .title-cli {
        width: 100%;
        align-items: center;
    }
    .title-cli h2 {
        font-size: 25px;
        width: max-content;
        margin: 0 0 10PX 0;
        text-align: center;
    }
    .title-cli img {
        height: 100px;
        position: static;
    }
    .clients .said {
        align-items: center;
        margin-bottom: 30px;
    }
    .said .client {
        flex-direction: row;
        justify-content: center;
        text-align: center;
        width: 90%;
        height: auto;
        box-shadow: 0px 2px 4px 3px var(--asparagus);
        padding:10px 20px;
        gap: 13PX;
    }
    .client img {
        max-width: 30%;
        width: 100px;
        height: 100px;
    }
    .client div img {
        height: 45px;
        bottom: -1.4em;
        right: -3.1em;
    }
    .client div h3 {
        font-size: 17px;
    }
    .client div p {
        font-size: 14px;
        width: fit-content;
    }
     /*CONTACT*/
    .contact {
        padding: 50px;
        align-items: center;
        justify-content: center;
        gap: 20PX;
    }
    .contact h2 {
        font-size: 25px;
        margin: 0;
    }
    .contact > p {
        font-size: 14px;
        padding: 0;
        text-align: start;
    }
    .contact iframe {
        height: 40vh;
        width: 100%;
    }
    .contact .contact-direct {
        padding: 20px;
        flex-direction: column;
        align-items: center;
        gap: 3EM;
        width: 100%;
    }
    .contact-direct .ct-left{
        width:75%;
        font-size: 14px;
        padding: 20px;
    }
    .contact-direct #formul{
        width: 80%;
    }
    #formul .top {
        flex-direction: column;
    }
    #formul button {
        font-size: 15px;
        height: 4vh;
    }
    .top  div {
        width: 100%;
    }
    /*FOOTER*/
    footer {
        padding: 60px;
    }
    footer .foot-top {
        flex-direction: column;
        height: auto;
        margin-bottom: 5vh;
        align-items: center;
        justify-content: center;
        padding: 0 50px;
    }
    .foot-top .foot1 {
        padding: 0 0 20px 0;
        border: 0;
        width: 100%;
        border-bottom: 1px solid var(--asparagus);
        gap: 10PX;
    }
    .foot1 p{
        width: 45ch;
    }    
    .foot1 img {
        width: 75px;
    }
    .foot-top .foot2 {
        width: 100%;
        font-size: 18px;
        padding: 20PX 0;
        border: 0;
        border-bottom: 1px solid var(--asparagus);
        row-gap: 20PX;
    }
    .foot2 .links {
        width: 80%;
    }
    .links a:nth-child(even) {
      text-align: right;
    }
    .foot2 .social {
        justify-content: space-around;
        width: 60%;
    }
    .foot-top .foot3 {
        width: 100%;
        padding: 20px 0;
        gap: 10PX;
        align-items: center;
    }
    .foot3 h3 {
        font-size: 18px;
        text-align: center;
    }
    
    .foot3 button {
        width: 120px;
    }
    footer .foot-bottom {
        padding: 20px;
    }
    .foot-bottom p::after {
        display: none;
    }
    .foot-bottom .last {
        padding: 0;
        grid-template-columns: repeat(2, 1fr);
    }
    .last a {
        margin-bottom: 20px;
        height: 13px ;
    }
    .last a:not(:last-of-type) {
        border: 0;
    }
    .last a:last-of-type {
        text-align: start;
    }
    .last a:nth-child(2),.last a:nth-child(3)  {
        text-align: start;
        padding: 0;
    }
    .last a:nth-child(odd){
        border-right: 2px solid var(--white);
    }
    .last a:nth-child(even){
        padding-left: 20px;
    }
}
@media (900px < width <= 1200px) {
    .container {
        z-index: 5;
        margin: 0;
    }
    header {
        padding: 0 70px;
        height: 80px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    header img {
        width: 80px;
        height: 80px;
    }
    header .nav {
        display: flex;
    }
    .nav li a {
        font-size: 16px;
    }
    .heros {
        height: 80vh;
        padding: 3em 70px;
        justify-content: center;
        align-items: center;
    }
    .heros .hero {
        row-gap: 25PX;
    }
    .hero h1 {
        font-size: 30px;
        width: 35ch;
    }
    .hero h1 span{
        font-size: 35px;
    }
    .hero #slog div {
        font-size: 1.2em;
        display: flex;
        font-weight: 700;
        gap: 10PX;
        margin-bottom: 15px;
    }
    .hero #slog div img {
        width: 20px;
    }
    .hero button{
        font-size: 1.2em;
        font-family: Montserrat;
        align-self: center;
        width: 230px;
        height: 50px;
        border-radius: 10px;
    }
    /*SERVICES*/
    .services {
        padding: 20px 70px;
        height: auto;
    }
    .title-serv img {
        width: 65px;
    }
    h2 {
        font-size: 35px;
    }
    .services h2::after {
        width: 50px;
    }
    .services .service {
        gap: 45PX;
        margin: 30px 0;
    }
    .service .serv{
        padding: 30px;
    }
    .serv div h3 {
        font-size: 16px;
    }
    .serv div p {
        font-size: 14px;
    }
    /*a propos de btp*/
    .about {
        height: auto;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0;
    }
    .about img {
        position: static;
        width: 50%;
        height: 65vh;
        padding-top: 40px;
    }
    .about .about-contain {
        width: 40%;
        padding: 10px 20px;
    }
    .about-contain .title-abt {
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .title-abt img {
        height: 40px;
        width: 50px;
        padding: 0;
    }
    .title-abt h2 {
        font-size: 23px;
    }
    .about-contain p{
        font-size: 14px;
        text-align: justify;
        margin-left: 10PX;
    }
    /*TEMOIGNAGES*/
    .clients{
        flex-direction: column;
        padding:0 70px;
        height: auto;
        gap: 20PX;
    }
    .clients .title-cli {
        width: 100%;
    }
    .title-cli h2 {
        font-size: 35px;
        width: auto;
        text-align: center;
    }
    .title-cli img {
        height: 100px;
        position: static;
    }
    .clients .said {
        flex-direction: row;
        align-items: center;
        margin-bottom: 50px;
    }
    .said .client {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 30%;
        height: 50vh;
        box-shadow: 0px 2px 4px 3px var(--asparagus);
        padding:20px;
        gap: 15PX;
    }
    .client img {
        width: 100px;
        height: 100px;
    }
    .client div img {
        height: 45px;
        bottom: -1.5em;
        right: -3.2em;
    }
    .client div h3 {
        font-size: 17px;
    }
    .client div p {
        font-size: 14px;
        width: fit-content;
    }
     /*CONTACT*/
    .contact {
        padding: 70px;
        align-items: center;
        justify-content: center;
        gap: 20PX;
    }
    .contact h2 {
        font-size: 35px;
        margin: 0;
    }
    .contact > p {
        font-size: 17px;
        padding: 0;
        text-align: start;
    }
    .contact iframe {
        height: 40vh;
        width: 100%;
    }
    .contact .contact-direct {
        padding: 20px;
        flex-direction: row;
        align-items: center;
        gap: 3EM;
        width: 100%;
    }
    .contact-direct .ct-left{
        font-size: 14px;
        padding: 20px;
    }
    #formul .top {
        flex-direction: column;
    }
    #formul button {
        font-size: 15px;
        height: 4vh;
    }
    .top  div {
        width: 100%;
    }
    /*FOOTER*/
    footer {
        padding:10px 70px;
    }
    footer .foot-top {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
    }
    .foot-top .foot1 {
        padding: 0 20px 0 0;
        gap: 10PX;
    }
    .foot1 p{
        width: 25ch;
        font-size: 13px;
    }    
    .foot1 img {
        width: 80px;
    }
    .foot-top .foot2 {
        font-size: 15px;
        padding: 0 20PX;
        row-gap: 20PX;
        width: max-content;
    }
    .foot2 .links {
        width: 100%;
    }
    .links a {
        font-size: 13px;
    }
    .foot-top .foot3 {
        padding: 20px;
        padding-right: 0;
        gap: 10PX;
        align-items: center;
    }
    .foot3 h3 {
        font-size: 16px;
        text-align: start;
    }
    .foot3 button {
        width: 50px;
    }
    footer .foot-bottom {
        padding: 0;
    }
    .foot-bottom p::after {
        display: none;
    }
    .foot-bottom .last {
        padding: 0;
        grid-template-columns: repeat(4, 1fr);
    }
    .last a {
        height: 13px ;
    }
    .last a:not(:last-of-type) {
        border-right: 2px solid var(--white);
    }
    .last a:last-of-type {
        text-align: end;
    }
    .last a:nth-child(2),.last a:nth-child(3)  {
        text-align: center;
        padding: 0;
    }
}